.pin {
  visibility: hidden;
  font-size: 30px;
}
.pin + label:before {
  content: "\2606";
  color: var(--secondary-color-dark);
  position: absolute;
  cursor: pointer;
}
.pin:checked +  :before {
  content: "\2605";
  color: var(--secondary-color-dark);
  position: absolute;
  cursor: pointer;
}